In [1]:
import pandas as pd

In [2]:
acc_details=pd.read_csv("Account_details.txt",delimiter="\t")
transactions=pd.read_csv("transaction.txt",delimiter="\t")

In [4]:
print(transactions.dtypes)

Customer_ID             int64
Transaction_amount    float64
Date                   object
dtype: object

In [5]:
print(acc_details.dtypes)

Customer_ID                       int64
Card_number                       int64
Account_Number                    int64
Primary_or_Sup_card_indicator    object
Card_Limit                        int64
Current_Balance_within_card       int64
dtype: object

In [6]:
transactions.head()

   Customer_ID  Transaction_amount       Date
0            7                21.3  10/1/2017
1            2                24.6  10/1/2017
2            3                 9.3  10/1/2017
3           12                45.9  10/1/2017
4           15                62.0  10/1/2017

In [7]:
acc_details.head()

,Customer_ID,Card_number,Account_Number,Primary_or_Sup_card_indicator,Card_Limit,Current_Balance_within_card
0,1,465269708804020,4652,P,10000,3206
1,2,465212381621478,4652,S,10000,2001
2,3,465234060131747,4652,S,10000,1316
3,4,523278393859100,5232,P,25000,7752
4,5,523278408870345,5232,S,25000,978

In [15]:
acc_num=acc_details.Account_Number.unique()

In [9]:
acc_details[acc_details['Account_Number'].isin([4652])]

,Customer_ID,Card_number,Account_Number,Primary_or_Sup_card_indicator,Card_Limit,Current_Balance_within_card
0,1,465269708804020,4652,P,10000,3206
1,2,465212381621478,4652,S,10000,2001
2,3,465234060131747,4652,S,10000,1316
9,10,465253343310825,4652,S,10000,401

In [10]:
acc_details[acc_details['Account_Number'].isin([5232])]

,Customer_ID,Card_number,Account_Number,Primary_or_Sup_card_indicator,Card_Limit,Current_Balance_within_card
3,4,523278393859100,5232,P,25000,7752
4,5,523278408870345,5232,S,25000,978

In [11]:
acc_details[acc_details['Account_Number'].isin([5216])]

,Customer_ID,Card_number,Account_Number,Primary_or_Sup_card_indicator,Card_Limit,Current_Balance_within_card
5,6,521631995227842,5216,P,5000,1682

In [12]:
acc_details[acc_details['Account_Number'].isin([4480])]

,Customer_ID,Card_number,Account_Number,Primary_or_Sup_card_indicator,Card_Limit,Current_Balance_within_card
6,7,448027576407506,4480,S,3000,1759
7,8,448085827194161,4480,S,7000,1410
8,9,448053935337894,4480,P,7000,2411

In [13]:
acc_details[acc_details['Account_Number'].isin([5058])]

,Customer_ID,Card_number,Account_Number,Primary_or_Sup_card_indicator,Card_Limit,Current_Balance_within_card
10,11,505883223227589,5058,S,15000,7762
11,12,505861043306991,5058,P,15000,2010

In [14]:
acc_details[acc_details['Account_Number'].isin([4952])]

,Customer_ID,Card_number,Account_Number,Primary_or_Sup_card_indicator,Card_Limit,Current_Balance_within_card
12,13,495240794468087,4952,S,1000,240
13,14,495262201714209,4952,P,1000,383
14,15,495269398046392,4952,S,1000,303

In [18]:
print(acc_num[1])

5232

In [19]:
acc_details[acc_details['Primary_or_Sup_card_indicator'].isin(['P'])]

,Customer_ID,Card_number,Account_Number,Primary_or_Sup_card_indicator,Card_Limit,Current_Balance_within_card
0,1,465269708804020,4652,P,10000,3206
3,4,523278393859100,5232,P,25000,7752
5,6,521631995227842,5216,P,5000,1682
8,9,448053935337894,4480,P,7000,2411
11,12,505861043306991,5058,P,15000,2010
13,14,495262201714209,4952,P,1000,383

In [20]:
acc_num

array([4652, 5232, 5216, 4480, 5058, 4952], dtype=int64)

In [21]:
transactions.head()

   Customer_ID  Transaction_amount       Date
0            7                21.3  10/1/2017
1            2                24.6  10/1/2017
2            3                 9.3  10/1/2017
3           12                45.9  10/1/2017
4           15                62.0  10/1/2017

In [24]:
transactions[transactions['Customer_ID'].isin([1])]

    Customer_ID  Transaction_amount        Date
5             1                 7.7   10/2/2017
46            1               670.0  10/16/2017
52            1                39.9  10/17/2017
83            1                41.2  10/27/2017

In [23]:
acc_details[acc_details['Account_Number'].isin([4652])]

,Customer_ID,Card_number,Account_Number,Primary_or_Sup_card_indicator,Card_Limit,Current_Balance_within_card
0,1,465269708804020,4652,P,10000,3206
1,2,465212381621478,4652,S,10000,2001
2,3,465234060131747,4652,S,10000,1316
9,10,465253343310825,4652,S,10000,401

In [27]:
acc_details[acc_details['Customer_ID'].isin([7])]['Primary_or_Sup_card_indicator']

6    S
Name: Primary_or_Sup_card_indicator, dtype: object

In [159]:
class Primarycard:
    primaryCardLimitDict = {}
    
    
    def __init__(self,cust_id,card_no,acc_no,card_limit,current_bal):
        self.cust_id=cust_id
        self.card_no=card_no
        self.acc_no=acc_no
        self.card_limit=card_limit
        self.current_bal=current_bal
        
        
    def cust_id(self):
        return self.cust_id
    
    def card_no(self):
        return self.card_no
    
    def acc_no(self):
        return self.acc_no
    
    def card_limit(self):
        return self.card_limit
    
    def current_balance(self,trans_amount):
        self.current_bal=self.current_bal+trans_amount
        return self.current_bal
        
    
class Secondarycard(Primarycard):
    secondaryCardLimit = {}
    def __init__(self,cust_id,card_no,acc_no,card_limit,current_bal):
        super().__init__(cust_id,card_no,acc_no,card_limit,current_bal)
    
    def current_balance(self,transaction_amt):
        self.current_bal=self.current_bal+transaction_amt
        return self.current_bal

In [144]:
import pandas as pd   
acc_details=pd.read_csv("Account_details.txt",delimiter="\t")
transactions=pd.read_csv("transaction.txt",delimiter="\t")

In [162]:
cust_id=transactions.Customer_ID[1]
tran=transactions.Transaction_amount[1]

In [163]:
p_or_s=acc_details[acc_details['Customer_ID'].isin([cust_id])]['Primary_or_Sup_card_indicator']

In [164]:
cust_id=acc_details[acc_details['Customer_ID'].isin([cust_id])]['Customer_ID'].item()

In [165]:
card_no=acc_details[acc_details['Customer_ID'].isin([cust_id])]['Card_number'].item()

In [166]:
acc_no=acc_details[acc_details['Customer_ID'].isin([cust_id])]['Account_Number'].item()

In [167]:
card_limit=acc_details[acc_details['Customer_ID'].isin([cust_id])]['Card_Limit'].item()

In [168]:
curr_bal=acc_details[acc_details['Customer_ID'].isin([cust_id])]['Current_Balance_within_card'].item()

In [172]:
if p_or_s.item()=='S':
    a=Secondarycard(cust_id,card_no,acc_no,card_limit,curr_bal)
    x=a.current_balance(tran)
elif p_or_s.item()=='P':
    b=Primarycard(cust_id,card_no,acc_no,card_limit,curr_bal)
    y=a.current_balance(tran)

In [161]:
x

1780.3

In [173]:
x

2025.6